@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
  @apply bg-darkness;
}

@layer base {
  .hero {
    font-weight: 800;
  }

  html {
    font-family: 'Source Code Pro', monospace;
  }
  .angledBg {
    background-image: linear-gradient(176deg, transparent 60%, rgba(157, 1, 45, 1) calc(60% + 2px))
  }
  .angledBgSm {
    background-image: linear-gradient(176deg, transparent 70%, rgba(157, 1, 45, 1) calc(70% + 2px))
  }
  .angledBgRv {
    background-image: linear-gradient(176deg, rgba(157, 1, 45, 1) 60%, transparent calc(60% + 2px))
  }
  .angledBgSmRv {
    background-image: linear-gradient(176deg, rgba(157, 1, 45, 1) 75%, transparent calc(75% + 2px))
  } 
}